// CM-14
.nsg-CM-14 {
  background-color: @color-white;
  padding-top: 26px;
  padding-bottom: 28px;
  text-align: center;

  @media(min-width: @mq-tablet-min) {
    padding-top:93px;
    padding-bottom: 100px;
    min-height: 600px;
    display: flex;
    align-items: center;
  }

  .nsg-CM-14-header {
    &:extend(.u-module-header:hover);
    text-align: center;
    margin: 0 auto;
  }

  .nsg-CM-14-heading-primary {
    &:extend(.u-module-heading-primary);
    font-size: 33px;
    line-height: 38px;
    margin: 0 auto;
  }

  .nsg-CM-14-heading-secondary {
    &:extend(.u-module-heading-secondary);
    padding-bottom: 20px;

    @media(min-width: @mq-tablet-min) {
      padding-bottom: 40px;
      font-size: 22px;
      line-height: 36px;
    }
  }

  .nsg-CM-14-body {

    @media(min-width: @mq-tablet-min) {
      max-width: 1080px;
      margin: 0 auto;
    }
    
    .nsg-CM-14-container {
      max-width: 375px;
      margin: 0 auto;

      .nsg-CM-14-image {
        padding-bottom: 20px;
      }

      .nsg-CM-14-description {
        font-size: 22px;
        line-height: 36px;
      }

      .nsg-CM-14-description-small {
        height: 30px;
        margin-bottom: 20px;
      }
    }
  }

  .nsg-CM-14-footer {
    margin-top: 30px;

    .nsg-Button--inverted {
      font-size: 18px;
      cursor: pointer;
    }
  }

}